/* Start Global Rules */
/* Start Global Rules */
*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
:root{
    --Transition: 0.3s;
    --Color: #F2F2EB;
    --MainColor:#3F6F8C;
    --AltMainColor:#A7CBD9;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
body{
    padding: 0;
    margin: 0;
    font-family: "open sans", sans-serif;
    background-color: #f1f5f9;
}
a{
    text-decoration: none;
}
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: var(--MainColor);
    transition: var(--Transition);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--AltMainColor);
}
ul{
    list-style:none;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
  }
.page{
    min-height: 100vh;
}  
.page h1{
    margin: 20px 20px 40px;
}
.page h1::before,
.page h1::after{
    content: '';
    height: 3px;
    position: absolute;
    bottom: -15px;
    left: 0;
}
.page h1::before{
    background-color: white;
    width: 120px;
}
.page h1::after{
    background-color: black;
    width: 40px;
}
.wrapper {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
  @media (max-width: 767px) {
    .wrapper {
      grid-template-columns: minmax(200px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
  }
 /* End Global Rules */ 
 /* Start Sidebar */
 .sidebar {
    width: 250px;
    box-shadow: 0 0 10px #ddd;
 }
 .sidebar > h3{
    margin-bottom: 50px;
 }
 .sidebar > h3::before{
    left: 50%;
    content: '';
    position: absolute;
    background-color: black;
    width: 80px;
    height: 2px;
    bottom: -20px;
    transform: translateX(-50%);
    content: '';

 }
 .sidebar > h3::after{
    content: '';
    border: 4px solid white;
    width: 12px;
    height: 12px;
    background-color: black;
    left: 50%;
    position: absolute;
    border-radius: 50%;
    transform: translateX(-50%);
    bottom: -28px;

 }
 .sidebar ul li a{
    transition: var(--Transition);
    margin-bottom: 5px;
 }
 .sidebar ul li a:hover,
 .sidebar ul li a.active{
    background-color: #f1f5f9;
 }
 .sidebar ul li a span {
    margin-left: 10px;
    font-size: 14px;
 }

@media (max-width:767px){
    .sidebar{
        width: 58px;
        padding: 10px;
    }
    .sidebar > h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .sidebar ul li a span{
        display: none;
    }
    .sidebar > h3::before,
    .sidebar > h3::after{
        display: none;
    }
}

 /* End Sidebar */
 /* Start Content Head */
 .content{
    overflow: hidden;
 }
 .head .search::before{
    font-size: 14px;
    content: '\f002';
    font-family: var(--fa-style-family-classic);
    font-weight: 900;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-color);
 }
 .head .search input{
    width: 180px ;
    transition: width var(--Transition);
    font-size: 13px;
 }
 .head .search input:focus{
    width: 200px;
    outline:none;

 }
 .head .search input:focus::placeholder{
    opacity: 0;
 }
 .head .icons .notification::before{
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--red-color);
    border-radius: 50%;
    right: -5px;
    top: -7px;
 }
 .head .icons img {
    width: 32px;
    height: 32px;
    margin-left: 15px;
    border-radius: 50%;
 }

 /* End Content Head */
 /* Start Welcome */
 .welcome{
   overflow: hidden;
 }
 .welcome .intro img{
    width: 200px;
    margin-bottom: -10px;
 }
 .welcome .avatar{
    width: 64px;
    height: 64px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 5px #ddd;
    margin-left: 20px;
    margin-top: -32px;
 }
 .welcome .body{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
 }
 .welcome .body > div {
    flex: 1;
 }
 .welcome .visit{
    margin: 0  15px  15px auto;
    transition: var(--Transition);
 }
 .welcome .visit:hover{
    background-color: var(--AltMainColor);
    color: black;
 }

@media (max-width : 767px) {
    .welcome .intro {
        padding-bottom: 30px;
    }
    .welcome .avatar{
        margin-left: 0;
    }
    .welcome .body > div:not(:last-child){
        margin-bottom: 20px;
    }
}

@media (min-width : 992px) { 

}

@media (min-width : 1200px){

}

 /* End Welcome */
 /* Start Quick */
 .draft form .title:focus{
    outline: none;
 }
 .draft form textarea:focus{
    outline: none;
 }
 .draft textarea{
    resize: none;
    min-height: 200px;
 }
 .draft .save{
    margin-left: auto;
    cursor: pointer;
    transition: var(--Transition);
 }
 .draft .save:hover{
    background-color: var(--AltMainColor);
    color: black;
 }
 /* End Quick */
 /* Start Target */
 .targets .target-row .icon {
    width: 80px;
    height: 80px;
    margin-right: 15px;
  }
  .targets .details {
    flex: 1;
  }
  .targets .details .progress {
    height: 4px;
  }
  .targets .details .progress > span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
  }
  .targets .details .progress > span span {
    position: absolute;
    bottom: 16px;
    right: -16px;
    color: white;
    padding: 2px 5px;
    border-radius: 6px;
    font-size: 13px;
  }
  .targets .details .progress > span span::after {
    content: "";
    border-color: transparent;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  .targets .details .progress > .blue span::after {
    border-top-color:  rgb(63 111 140 / 20%);
  }
  .targets .details .progress > .orange span::after {
    border-top-color: var(--orange-color);
  }
  .targets .details .progress > .green span::after {
    border-top-color: var(--green-color);
  }
  .blue .icon,
  .blue .progress {
    background-color: rgb(0 117 255 / 20%);
  }
  .orange .icon,
  .orange .progress {
    background-color: rgb(245 158 11 / 20%);
  }
  .green .icon,
  .green .progress {
    background-color: rgb(34 197 94 / 20%);
  }
 /* End Target */
 /* Start Tickets */
 .tickets .box{    
    box-shadow: 0 2px 15px rgb(0 0 0 /10%);
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;
    transition: transform var(--Transition), box-shadow var(--Transition) ;
    width: calc(50% - 30px);
    margin:  0 auto;
 }
 .tickets .box:hover{    
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
 }
 @media (max-width: 767px){
    .tickets .box{
        width: 100%;
    }
 }
 /* End Tickets */
 /* Start News */
 .latest-news .news-row:not(:last-of-type){
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
 }
 .latest-news .news-row img{
    width: 100px;
    border-radius: 6px;
    margin-right: 15px;
 }
 .latest-news .info{
    flex-grow: 1;
 }
 .latest-news .info h3 {
    margin: 0 0 6px;
    font-size: 16px;
 }
 @media (max-width:767px){
    .latest-news .news-row{
        display: block;
    }
    .latest-news .news-row .label{
        width: fit-content;
        margin: 10px auto;
        padding: 6px 10px;
    }
 }
 /* End News */
 /* Start Tasks */
 .tasks .task-row{
    border-radius: 6px;
    padding: 10px;
    transition: transform var(--Transition), box-shadow var(--Transition) ;
 }
 .tasks .task-row:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 /20%);
 }
 .tasks .task-row:not(:last-of-type){
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #eee;
    
 }
 .tasks .info{
    flex-grow: 1;
 }
 .tasks .done {
    opacity: 0.3;
 }
 .tasks .done h3, .tasks .done p{
    text-decoration: line-through;
 }
 .tasks .delete{
    transition: var(--Transition);
    cursor: pointer;
 }
 .tasks .delete:hover{
    color: red;
 }


 /* End Tasks */
 /* Start Latest Upload*/
 .latest-uploads ul li:not(:last-child){
    border-bottom: 1px solid #eee;
 }
 .latest-uploads ul li img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
 }
 /* End Latest Upload*/
 /* Start Last Project */
 .last-project ul::before{
    content: '';
    position: absolute;
    left: 11px;
    width: 2px;
    height: 100%;
    background-color: var(--MainColor);
 }
 .last-project ul li::before{
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
    outline: 2px solid var(--MainColor);
    margin-right: 15px;
    z-index: 1;
 }
 .last-project ul li.done::before{
    content: '';
    background-color: var(--MainColor);
 }
 .last-project ul li.current::before{
    content: '';
    animation: change-color 0.8s infinite alternate;
 }
 .last-project .launch-icon{
    position: absolute;
    width: 140px;
    right: 0;
    bottom: 0;
    opacity: 0.2;
 }
 
 /* End Last Project */
 /* Start Reminders */
 .reminders ul li .key {
    width: 15px;
    height: 15px;
 }
 .reminders ul li > .blue{
    border-left:2px solid var(--MainColor)
 }
 .reminders ul li > .green{
    border-left:2px solid var(--green-color)
 }
 .reminders ul li > .orange{
    border-left:2px solid var(--orange-color)
 }
 .reminders ul li > .red{
    border-left:2px solid var(--red-color)
 }
 /* End Reminders */
 /* Start Latest Post */
 .latest-post .avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
 }
 
 .post-content{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    line-height: 1.8;
    min-height: 140px;
 }
 /* End Latest Post */
/* Start Social Media */
.social-media .box{
    padding-left:70px;
}
.social-media .box i{
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    transition: var(--Transition);
}
.social-media .box i:hover{
    transform: rotate(5deg);
}
.social-media .twitter {
    background-color:rgb(29 161 242 / 20%);
    color: #1da1f2;
}
.social-media .twitter i,
.social-media .twitter a{
    background-color: #1da1f2;
}
.social-media .facebook{
    background-color: rgb(24 119 242 / 20%);
    color: #1877f2;
}
.social-media .facebook i,
.social-media .facebook a{
    background-color:#1877F2 ;
}
.social-media .instagram{
    background: rgb(240 148 51 / 20%);
    color: orangered;
    
}
.social-media .instagram i,
.social-media .instagram a{
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.social-media .linkedin{
    background-color: rgb(0 119 181 / 20%);
    color: #0077b5;
}
.social-media .linkedin i,
.social-media .linkedin a{
    background-color: #0077b5;
}
 /* End Social Media */
 /* Start Projects Table */
 .project .responsive-table{
    overflow-x: auto;
 }
 .project table{
    min-width: 800px;
    border-spacing: 0;
 }
 .project thead td {
    background-color: #eee;
    font-weight: bold;
 }
 .project table td{
    padding: 15px;
 }
 .project tbody td {
    border-bottom: 1px solid #eee;
    border-left:1px solid #eee;
    transition: var(--Transition);
 } 
 .project tbody tr:hover td{
    background-color: #fafaf7;
 }
.project table tbody tr td:last-child{
    border-right: 1px solid #eee;
}
.project table img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding:2px;
    background-color: white;
}
.project table img:not(:first-child){
    margin-left: -20px;
}
.project table .label{
    font-size: 13px;
}
/* End Projects Table */
/* Start Settings */
.settings-page {
    grid-template-columns: repeat(auto-fill, minmax(495px, 1fr));
  }
  @media (max-width: 767px) {
    .settings-page {
      grid-template-columns: minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
    }
  }
  .settings-page .close-message {
    border: 1px solid #ccc;
    resize: none;
    min-height: 150px;
    font-size: 12px;
  }
  .settings-page .email {
    display: inline-flex;
    width: calc(100% - 80px);
    font-size: 13px;
  }
  .settings-page .sec-box {
    padding-bottom: 15px;
    
  }
  .settings-page .sec-box:not(:last-of-type) {
    border-bottom: 1px solid #eee;
  }
  .settings-page .sec-box .button {
    transition: 0.3s;
  }
  .settings-page .sec-box .button:hover {
    background-color: var(--AltMainColor);
    color: black;
  }
  .settings-page .social-boxes i {
    width: 40px;
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 6px 0 0 6px;
    transition: 0.3s;
  }
  .settings-page .social-boxes input {
    height: 40px;
    background-color: #f6f6f6;
    border: 1px solid #ddd;
    padding-left: 10px;
    font-size: 13px;
    border-radius: 0 6px 6px 0;
  }
  .settings-page .social-boxes > div:focus-within i {
    color: black;
  }
  .widgets-control .control input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
  }
  .widgets-control .control label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
  }
  .widgets-control .control label::before,
  .widgets-control .control label::after {
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -9px;
    border-radius: 4px;
  }
  .widgets-control .control label::before {
    content: "";
    width: 14px;
    height: 14px;
    border: 2px solid var(--grey-color);
  }
  .widgets-control .control label:hover::before {
    border-color: var(--AltMainColor);
    color: black;
  }
  .widgets-control .control label::after {
    font-family: var(--fa-style-family-classic);
    content: "\f00c";
    font-weight: 900;
    background-color: var(--MainColor);
    color: white;
    font-size: 12px;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0) rotate(360deg);
    transition: 0.3s;
  }
  .widgets-control .control input[type="checkbox"]:checked + label::after {
    transform: scale(1);
  }
  .backup-control input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
  }
  .backup-control .date label {
    padding-left: 30px;
    cursor: pointer;
    position: relative;
  }
  .backup-control .date label::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -11px;
    width: 18px;
    height: 18px;
    border: 2px solid var(--grey-color);
    border-radius: 50%;
  }
  .backup-control .date label::after {
    content: "";
    position: absolute;
    left: 4px;
    top: 2px;
    width: 14px;
    height: 14px;
    background: var(--MainColor);
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(0);
  }
  .backup-control .date input[type="radio"]:checked + label::before {
    border-color: var(--MainColor);
  }
  .backup-control .date input[type="radio"]:checked + label::after {
    transform: scale(1);
  }
  .backup-control .servers {
    border-top: 1px solid #eee;
    padding-top: 20px;
  }
  @media (max-width: 767px) {
    .backup-control .servers {
      flex-wrap: wrap;
    }
  }
  .backup-control .servers .server {
    border: 2px solid #eee;
    position: relative;
  }
  .backup-control .servers .server label {
    cursor: pointer;
  }
  .backup-control .servers input[type="radio"]:checked + .server {
    border-color: var(--MainColor);
    color: var(--MainColor)
  }
  .toggle-checkbox {
    -webkit-appearance: none;
    appearance: none;
    display: none;
  }
  .toggle-switch {
    background-color: #ccc;
    width: 40px;
    height: 22px;
    border-radius: 16px;
    position: relative;
    transition: 0.3s;
    cursor: pointer;
  }
  .toggle-switch::before {
    font-family: var(--fa-style-family-classic);
    content: "\f00d";
    font-weight: 900;
    background-color: white;
    width: 16px;
    height: 16px;
    position: absolute;
    border-radius: 50%;
    top:3px;
    left: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #aaa;
    transition: 0.3s;
  }
  .toggle-checkbox:checked + .toggle-switch {
    background-color: var(--MainColor)
  }
  .toggle-checkbox:checked + .toggle-switch::before {
    content: "\f00c";
    left: 20px;
    color: var(--MainColor)
  }
  .settings-page :disabled {
    cursor: no-drop;
    background-color: #f0f4f8;
    color: #bbb;
  }
/* End Settings */
/* Start Profile page */
@media (max-width: 767px) {
   .profile-page .overview {
     flex-direction: column;
   }
 }
 .profile-page .avatar-box {
   width: 300px;
 }
 @media (min-width: 768px) {
   .profile-page .avatar-box {
     border-right: 1px solid #eee;
   }
 }
 .profile-page .avatar-box > img {
   width: 120px;
   height: 120px;
 }
 .profile-page .avatar-box .level {
   height: 6px;
   overflow: hidden;
   margin: auto;
   width: 70%;
 }
 .profile-page .avatar-box .level span {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   background-color: var(--blue-color);
   border-radius: 6px;
 }
 .profile-page .info-box .box {
   flex-wrap: wrap;
   border-bottom: 1px solid #eee;
   transition: 0.3s;
 }
 .profile-page .info-box .box:hover {
   background-color: #f9f9f9;
 }
 .profile-page .info-box .box > div {
   min-width: 250px;
   padding: 10px 0 0;
 }
 .profile-page .info-box h4 {
   font-weight: normal;
 }
 @media (max-width:767px){
   .profile-page .info-box .toggle-switch{
      margin: auto;
   }
 }
 @media (max-width:767px){
   .profile-page .other-data {
      flex-direction: column;
   }
 }
 .profile-page .skills-card {
   flex-grow: 1;
 }
 .profile-page .skills-card ul li {
   padding: 15px 0;
 }
 .profile-page .skills-card ul li:not(:last-child){
   border-bottom: 1px solid #eee;
 }
 .profile-page .skills-card ul li span{
   display: inline-flex;
   padding: 4px 10px;
   background-color: #EEE;
   border-radius: 6px;
   font-size: 14px;
   transition: var(--Transition);
   cursor: pointer;
 }
 .profile-page .skills-card ul li span:hover{
   background-color: #ddd;
 }
 .profile-page .skills-card ul li span:not(:last-child){
   margin-right: 5px;
 }
 .profile-page .acitvites{
   flex-grow: 2;
 }
 .profile-page .acitvites .activity:not(:last-of-type){
   border-bottom: 1px solid #eee;
   padding-bottom: 20px;
   margin-bottom: 20px;

   
 }
 .profile-page .acitvites .activity img{
   width: 60px;
   border-radius: 50%;
   margin-right: 15px;
 }
 @media (min-width:768px){
   .profile-page .acitvites .activity .date {
      margin-left:auto ;
      text-align: right;
   }
 }
 @media (max-width:767px){
   .profile-page .acitvites .activity {
      flex-direction: column;
   }
   .profile-page .acitvites .activity img{
      margin-right: 0;
      margin-bottom:20px ;
   }
   .profile-page .acitvites .activity .date{
   margin-top: 10px;
   }
 }
 
/* End Profile page */
/* Start Projects */
.projects-page{
   grid-template-columns: repeat(auto-fill, minmax(495px, 1fr));
}
@media (max-width:767px){
   .projects-page{
      grid-template-columns:  minmax(200px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
   }
}
.projects-page .project .date{
   position: absolute;
   right: 10px;
   top: 10px;
}
.projects-page .project h4{
   font-weight: normal;
}
.projects-page .project .team{
   position: relative;
   min-height: 80px;
}
.projects-page .project .team a{
   position: absolute;
   left: 0;
   bottom: 0;
}
.projects-page .project .team a:nth-child(2){
   left: 25px;
}
.projects-page .project .team a:nth-child(3){
   left: 50px;
}
.projects-page .project .team a:nth-child(4){
   left: 75px;
}
.projects-page .project .team a:nth-child(5){
   left: 100px;
}
.projects-page .project .team a:hover{
   z-index: 100;
}
.projects-page .project .team a img{
   width: 40px;
   height: 40px;
   border-radius: 50%;
   border: 2px solid white;
}
.projects-page .project .do{
   justify-content: flex-end;
   margin-top: 15px;
   padding-top:15px ;
   border-top: 1px solid #EEE;
}
@media (max-width:767px){
   .projects-page .project .do{
      flex-direction: column;
   }
}
.projects-page .project .do span{
   margin-right: 5px;
   width: fit-content;
}
@media (max-width:767px){
   .projects-page .project .do span:not(:last-child){
      margin-bottom: 15px;
   }
}
.projects-page .project .info{
   border-top: 1px solid #eee;
   margin-top: 15px;
   padding-top: 15px;
}
@media (max-width:767px){
   .projects-page .project .info{
      flex-direction: column;
   }
 
}

.projects-page .project .prog{
   height: 6px;
   width: 260px;
   position: relative;
   border-radius: 6px;
}
@media (max-width:767px){
   .projects-page .project .prog{
      margin-bottom: 15px;
   }
 
}
.projects-page .project .prog span {
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 50%;
   border-radius: 6px;
}
/* End Projects */
/* Start Courses */
.courses-page{
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px){
   .courses-page{
      grid-template-columns:  minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
   }
}
.courses-page .course{
   overflow: hidden;
   transition: var(--Transition);
   box-shadow: 0 0 10px rgb(0 0 0 /20%);
}
.courses-page .course:hover{
   transform: translateY(-10px);
}
.courses-page .cover{
   max-width: 100%;
}
.courses-page .instructor{
   position: absolute;
   width: 64px;
   height: 64px;
   border-radius: 50%;
   top: 20px;
   left: 20px;
}
.courses-page .description{
   line-height: 1.7;

}

.courses-page .info{
   border-top: 1px solid #eee;
   font-size: 13px;
}
.courses-page .course .info .title{
   position: absolute;
   top: -10px;
   left: 50%;
   transform: translateX(-50%);
   font-size: 13px;
   cursor: pointer;
   transition: var(--Transition);
}
.courses-page .title:hover{
   background-color: var(--AltMainColor);
   color: black;
}

/* End Courses */
/* Start Friends */
.friends-page{
   grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width:767px){
   .friends-page{
      grid-template-columns:  minmax(100px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
   }
}
.friends-page .friend{
   transition: var(--Transition);
   box-shadow: 0 0 10px rgb(0 0 0 /15%);
   cursor: pointer;
}
.friends-page .friend:hover{
   transform: translateY(-10px);
}
.friends-page .friend .contact {
   display: flex;
   text-align: center;
   margin-right: 5px;

}
.friends-page .friend .contact i{
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--Transition);
  font-size: 13px;
  opacity: 0.5;
}
.friends-page .friend .contact i:hover {
   background-color: var(--MainColor);
   color: white;
   opacity: 1;
}

.friends-page .friend .icons{
   border-bottom: 1px solid #eee;
   border-top: 1px solid #eee;
   margin-top: 15px;
   margin-bottom: 15px;
   padding-top: 15px;
   padding-bottom: 15px;
}
.friends-page .friend .icons i{
   margin-right: 5px;
}
.friends-page .friend .icons .vip {
   position: absolute;
   right: 0px;
   top: 50%;
   transform: translateY(-50%);
   font-size: 35px;
   opacity: 0.2;
   transition: var(--Transition);
}
.friends-page .friend .icons:hover .vip{
   opacity: 1;
}
.friends-page .friend .info a{
   transition: var(--Transition);
}
.friends-page .friend .info a:first-child:hover{
   background-color: var(--AltMainColor);
   color: black;
}
.friends-page .friend .infos a:nth-child(2):hover{
   background-color: rgb(184, 18, 18);
}
/* End Friends */
/* Start Files Page  */
.files-page{
   flex-direction: row-reverse;
   align-items: flex-start;
}
@media (max-width:767px){
   .files-page{
      flex-direction: column;
      align-items: normal;
   }
}
.files-page .files-stats {
   min-width: 260px;
}
.files-page .files-stats .icon{
   width: 40px;
   height: 40px;
   margin-right: 10px;
} 
.files-page .files-stats .size {
   margin-left: auto;
}
.files-page .files-stats .blue {
   background-color: rgb(0 117 255 / 20%);
}
.files-page .files-stats .red {
   background-color: rgb(244 67 54 / 20%);
}
.files-page .files-stats .orange{
   background-color: rgb(245 158 11 / 20%);
} 
.files-page .files-stats .green {
   background-color: rgb(34 197 94 / 20%);
}
.files-page .files-stats .upload {
   margin: 15px auto 0;
   padding: 15px 15px;
   transition: var(--Transition);
}
.files-page .files-stats .upload:hover {
   background-color: var(--AltMainColor);
   color: black;
}
.files-page .files-stats .upload:hover i{
   animation: up-down 0.8s linear infinite;
}
.files-page .files-content {
   flex: 1;
   grid-template-columns: repeat(auto-fill, minmax(200px , 1fr));
}
.files-page .files-content img {
   width: 64px;
   height: 64px;
   transition: var(--Transition);
}
.files-page .files-content .file:hover img {
   transform: rotate(5deg);
}
.files-page .files-content .info{
   border-top: 1px solid #eee;

}
/* End Files Page  */
/* Start Plans */

.plans-page{
   grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width:767px){
   .plans-page{
      grid-template-columns:  minmax(250px, 1fr);
      margin-left: 10px;
      margin-right: 10px;
      gap: 10px;
   }
}
.plans-page .plan .top{
   border: 3px solid white;
   outline: 3px solid transparent ;
   margin-bottom: 15px;
}
.plans-page .plan.green .top{
   outline-color: var(--green-color);
}
.plans-page .plan.blue .top{
   outline-color: var(--MainColor);
}
.plans-page .plan.orange .top{
   outline-color: var(--orange-color);
}
.plans-page .plan .price{
   position: relative;
   font-size: 40px;
   width: fit-content;
   margin: auto;
}
.plans-page .plan .price span{
   position: absolute;
   left: -20px;
   top: 0;
   font-size: 25px;
}
.plans-page .plan ul li {
   padding: 15px 0;
   display: flex;
   align-items: center;
   font-size: 15px;
   border-bottom: 1px solid #eee;
   transition: var(--Transition);
}
.plans-page .plan ul li:hover{
   transform: translateY(-5px);
}
.plans-page .plan ul li  .yes{
   color: var(--green-color);
}
.plans-page .plan ul li i:not(.yes, .help) {
   color: var(--red-color);
}
.plans-page .plan ul li i:first-child{
   font-size: 18px;
   margin-right: 5px;
}
.plans-page .plan ul li  .help{
   margin-left: auto;
   color: var(--grey-color);
   cursor: pointer;
}
.plans-page .plan a{
   margin-top: 15px;
   padding: 8px 12px;
   border-radius: 6px;
}

/* End Plans */
/* Start Animation */
 @keyframes change-color {
    from {
        background-color: var(--MainColor);
    }
    to{
        background-color: white;
    }
 }
 @keyframes up-down {
   0% ,100%{
      transform: translateY(0);
   }
   50%{
      transform: translateY(-5px);
   }

 }
 /* End Animation */
 

