:root{
    --Transition: 0.3s;
    --Color: #F2F2EB;
    --MainColor:#3F6F8C;
    --AltMainColor:#A7CBD9;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* Start Box */
.d-block{
    display: block;
}
.d-flex{
    display: flex;
    
}
.d-dir{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.over-flow{
    overflow: hidden;
}
.d-grid{
    display: grid;
}
.gap-20{
    gap: 20px;
}
.f-wrap{
    flex-wrap: wrap;
}
@media (max-width:767px){
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}


/* End Box */
/* Start Width & Height */
.w-full{
    width: 100%;
}
.w-fit{
    width: fit-content;
}
.h-full{
    height: 100%;
}
.w-100{
    width: 100px;
}
.h-100{
    height: 100px;
}
/* End Width & Height */
/* Start Padding + Margin + Border */
.pb-10{
    padding-bottom: 10px;
}
.p-10{
    padding: 10px;
}
.pt-10{
    padding-top: 10px;
}
.p-15{
    padding: 15px;
}
.pt-15{
    padding-top: 15px;
}
.pb-15{
    padding-bottom: 15px;
}
.pl-15{
    padding-left: 15px;
}

.p-20{
    padding: 20px;
}
.pt-20{
    padding-top: 20px;
}
.pb-20{
    padding-bottom: 20px;
}
.pl-30{
    padding-left: 30px;
}
.m-0{
    margin: 0;
}
.mb-0{
    margin-bottom: 0;
}
.m-20{
    margin: 20px;
}
.mt-0{
    margin-top: 0;
}
.mt-5{
    margin-top: 5px;
}
.ml-5{
    margin-left: 5px;
}
.mb-5{
    margin-bottom: 5px;
}
.mr-5{
    margin-right: 5px;
}
.ml-10{
    margin-left: 10px;
}
.mb-10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: 10px;
}
.mr-15{
    margin-right: 15px;
}
.mt-15{
    margin-top: 15px;
}
.mb-15{
    margin-bottom: 15px;
}
.m-15{
    margin: 15px;
}
.m-20{
    margin: 20px;
}
.ml-20{
    margin-left: 20px;
}
.mr-20{
    margin-right: 20px;
}

.mb-20{
    margin-bottom: 20px;
}
.mt-20{
    margin-top: 20px;
}
.mt-25{
    margin-top: 25px;
}
.rad-6{
    border-radius: 6px;
}
.rad-10{
    border-radius: 10px;
}
.rad-half{
    border-radius: 50%;
}
.border{
    border: 1px solid #eee;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
.border-top{
    border-top: 1px solid #eee;
}
.br{
    border: none;
}
.ol{
    outline: none;
}
.line-h {
    line-height: 1.7;
}

/* End Padding + Margin + Border */
/* Start Color */
.bg-white{
    background-color: white;
}
.bg-orange{
    background-color: #f59e0b;
}
.bg-green{
    background-color: #22c55e;;
}
.bg-eee{
    background-color: #eee;
}
.bg-3F6F8C{
    background-color: #3F6F8C;
}
.bg-red{
    background-color: red;
}
.bg-blue{
    background-color: var(--MainColor);
}
.c-black{
    color: #0D0D0D;
}
.c-red{
    color: red;
}
.c-blue{
    color: blue;
}
.c-green{
    color: #22c55e;;
}
.c-grey{
    color:grey;
}
.c-orange{
    color:#f59e0b;
}
.c-white{
    color: white;
}
.c-3F6F8C{
    color: #3F6F8C;
}


/* End Color */
/* Start Position */
.p-relative{
    position: relative;
}
.p-absolute{
    position: absolute;
}

/* End Position */
/* Start Font */
.txt-c{
    text-align: center;
}
.txt-r{
    text-align: right;
}
.fs-13{
    font-size: 13px;
}
.fs-14{
    font-size: 14px;
}
.fs-15{
    font-size: 15px;
}
.fs-25{
    font-size: 25px;
}
.fw-bold{
    font-weight: bold;
}
@media (max-width:767px){
    .txt-c-mobile{
        text-align: center;
    }
}
/* End Font */
/* Start Components */
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-shape{
    padding: 4px 8px ;
    border-radius: 6px;
}
/* End Components */